
html,
body {
  height: 100%;
}

body {
  font-family: $ptsans;
  font-size: 14px;
  line-height: 22px;
  color: $color-grey;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: $color-grey;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-grey;
  }
}

// button reset

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.padding-reset {
  @media (min-width: $screen-md) {
    padding: 0;
  }
}