.btn-primary {
	color: white;
	font-family: $got;
	font-size: 11px;
	font-weight: 900;
	text-transform: uppercase;
	background-color: #a70c5d;
	border-radius: 25px;
	&:before {
		content: '';
		@include sprite(btn_download);
	}
}