$font-path: '../fonts/';

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('#{$font-path}opensans-condlight-webfont.eot');
    src: url('#{$font-path}opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}opensans-condlight-webfont.woff2') format('woff2'),
         url('#{$font-path}opensans-condlight-webfont.woff') format('woff'),
         url('#{$font-path}opensans-condlight-webfont.ttf') format('truetype'),
         url('#{$font-path}opensans-condlight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;

}