.container {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .container {
    @include clearfix();
    width: 1160px;
  }
}

.grid {
  // margin: 0 0 $pad 0;
  margin: 0;
  
  @include clearfix();
}

[class*='col-'] {
  float: left;
  padding-right: $pad;
  width: 100%;
  .grid &:last-of-type {
    padding-right: 0;
  }
}

@media (min-width: $lg) {
	.col-2-3 {
	  width: 66.666666%;
	}
	.col-1-3 {
	  width: 33.3333333%;
	}
	.col-1-2 {
	  width: 50%;
	}
	.col-1-4 {
	  width: 25%;
	}
	.col-1-8 {
	  width: 12.5%;
	}
}

/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}