// fonts
$ptsans: 'PT Sans', sans-serif;
$opensans: 'Open Sans Condensed', sans-serif;

//colors
$color-grey-lightest: #dcdcdc;
$color-grey-light: #c3c3c3;
$color-grey-lighter: #777;

$color-grey: #767676;

$color-grey-darker: #444;