.catalog {
	padding: 0 0 210px;

	@media (max-width: $screen-md) {
		padding-bottom: 50px;
	}
}

// breadcrumbs
.breadcrumbs {
	padding: 0;
	margin: 4px 0 0;
	list-style-type: none;
}

.breadcrumbs__item {
	display: inline-block;
	padding-right: 5px;

	&::before {
		content: "/\00a0";
	}

	&:first-child::before {
		display: none;
	}

	&--active {
		&::before {
			margin-right: 6px;
		}
	}
}

.breadcrumbs__link {
	text-decoration: underline;
}

// categories
.categories {
	display: inline-block;
	padding: 0;
	margin: 16px 0 0 11px;
	text-align: left;
	list-style-type: none;
}

.categories__item {
	overflow: hidden;
}

.categories__link {
	font-size: 18px;
	line-height: 30px;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.categories__subcat {
	padding: 0;
	margin: -3px 0 0 20px;
	max-height: 0;
	list-style-type: disc;
	animation: dropdownopen2 0.4s ease forwards;

	&.open {
		animation: dropdownopen 0.4s ease forwards;
	}
}

@keyframes dropdownopen {
	0% {
		max-height: 0;
	}

	100% {
		max-height: 250px;
	}
}

@keyframes dropdownopen2 {
	0% {
		max-height: 250px;
	}

	100% {
		max-height: 0;
	}
}

.categories__subcat-link {
	&:hover,
	&:focus {
		text-decoration: underline;
		color: #010101;
	}
}

//price link
.price {
	display: block;
	margin-top: 106px 0 0 -5px;
	text-align: center;

	@media (max-width: $screen-md) {
		display: none;
	}
}

.price__img {
	display: inline-block;
	width: 97px;
	height: 111px;
	background: url(../img/excel.png) no-repeat;
}

.price__text {
	font-size: 30px;
	font-weight: 700;
	color: $color-grey-darker;
	margin-left: -7px;
}

// products
.product-wrap {
	margin-top: 23px;
}

.product-padding {
	@media (min-width: $screen-lg) {
		padding: 0 0 0 2px;
	}
}

.product {
	background-color: $color-grey-lightest;
	width: 250px;
	padding: 21px 19px 14px;
	margin: 0 auto 20px;
}

@media (min-width: $screen-lg) {
	.product-wrap .col-lg-8:nth-child(3n + 2) .product {
		margin-left: -5px;
	}

	.product-wrap .col-lg-8:nth-child(3n + 3) .product {
		margin-left: -10px;
	}
}

.product__info {
	width: 196px;
}

.product__descr {
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
	margin-top: 20px;
}

.product__bottom {
	margin-top: 53px;
}

.product__price {
	margin-left: -3px;
	color: $color-grey-darker;
	font-size: 28px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 1px;
}

.product__buy {
	float: right;
	width: 28px;
	height: 21px;
	background: url("../img/basket.png") no-repeat;
}

// paginator
.paginator {
	margin: 7px 0 0 -11px;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.paginator__item {
	display: inline-block;
}

.paginator__link {
	padding: 0 8px;
	color: $color-grey;

	&--active {
		color: $color-grey-darker;
		font-size: 18px;
	}
}

//separator
.separator {
	margin-top: 61px;
	width: 100%;
	height: 1px;
	background-color: $color-grey-lighter;
}

// descr
.company-descr {
	margin-top: 24px;
}
