.footer {
	min-height: 220px;
	background-color: $color-grey-lighter;
	padding: 44px 0;
	color: #fff;
}

.footer-nav {
	@media (min-width: $screen-md) {
		margin-left: 17px;
	}
}

.footer-nav__list,
.footer-info__list {
	margin: 0;
	padding: 0;
	list-style-type: none;

	@media (max-width: $screen-sm) {
		margin-top: 10px;
		margin-left: 10px;
	}
}

.footer-nav__item { line-height: 25px; }

.footer-info__item { line-height: 23px; }

.footer-nav__link {
	color: #fff;
	text-decoration: underline;

	&:hover,
	&:focus {
		color: #fff;
	}
}
