.page-wrap {
	@media (min-width: $screen-md) {
		min-height: 100%;
		margin-bottom: -220px;
		&:after {
			content: '';
			display: block;
			height: 220px;
		}
	}
}

.header {
	background-color: $color-grey-lightest;
	min-height: 230px;
}

.header__logo-wrap {
	line-height: 227px;

	@media (max-width: $screen-md) {
		text-align: center;
		display: block;
		line-height: 165px;
	}
}

.feedback-wrap {
	text-align: right;

	@media (max-width: $screen-md) {
		text-align: center;
	}
}
.feedback {
	text-align: right;
	display: inline-block;
	margin-top: 36px;

	@media (max-width: $screen-md) {
		margin: 20px 0;
	}
}

.feedback__phone {
	font-family: $opensans;
	font-weight: 300;
	font-size: 40px;
	line-height: 46px;
	letter-spacing: 1px;
	@media (max-width: $screen-sm) {
		font-size: 32px;
	}
}

.feedback__link {
	margin-top: 1px;
	display: inline-block;
	font-size: 25px;
	font-weight: 700;
	line-height: 28px;
	border-bottom: 2px dashed $color-grey;
	clear: both;
	&:hover ,
	&:focus {
		border-color: transparent;
	}
}
