.menu {
	background-color: $color-grey-lighter;
	min-height: 80px;
	text-align: center;
	line-height: 80px;
}

.menu__list {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style-type: none;
	@media (max-width: $screen-md) {
		line-height: 45px;
		padding: 20px;
	}
	@media (max-width: $screen-sm) {
		line-height: 50px;
	}
}
.menu__list-item {
	display: inline-block;
	padding: 0 20px;
	line-height: 18px;
	border-right: 2px solid white;
	position: relative;
	top: 2px;
	&:last-child {
		border-right: none;
	}
	@media (max-width: $screen-lg) {
		padding: 0 13px;
	}
	@media (max-width: $screen-md) {
		width: 49%;
		&:nth-child(even) {
			border-right: none;
		}
	}
	@media (max-width: $screen-sm) {
		width: 100%;
		border-right: none;
	}
}
.menu__list-link {
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	text-decoration: none;
	display: inline-block;
	padding-bottom: 6px;

	&:hover ,
	&:focus {
		border-bottom: 2px solid #fff;
		color: white;
	}
	@media (max-width: $screen-lg) {
		font-size: 22px;
	}
}
