/* The Modal (background) */
#myModal {
	&.show {
		display: block;
		opacity: 1;
	}

}
.modal {
	display: none;
	// display: block;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.8);
	transition: opacity 0.4s ease;
	opacity: 0;
}
.modal__content {
	position: relative;
	background-color: #ffffff;
	margin: 40px auto;
	padding: 28px 62px 26px 63px;
	width: 466px;

	@media(max-width: $screen-md) {
		width: 420px;
		padding: 30px;
	}
	@media(max-width: $screen-sm) {
		width: 90%;
		padding: 20px;
	}
}
.modal__header {
	margin: 3px 0;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
.modal__close {
	position: absolute;
	right: -27px;
	top: -27px;
	width: 27px;
	height: 27px;
	background: $color-grey-lighter url("../img/modal-close.png") no-repeat center center;

	@media(max-width: $screen-md) {
		right: 10px;
		top: 10px;
	}

}

//form
.feedback-form {
	text-align: center;
	margin-top: 25px;
}

.feedback-form__label {
	display: block;
	color: #535353;
	font-weight: 400;
	text-align: center;
	margin: 15px 0 1px;
	&--required {
		&:after {
			content: "*";
			margin-left: 5px;
		}
	}
}

.feedback-form__input {
	height: 42px;
	line-height: 42px;
	width: 100%;
	background-color: white;
	border: 1px solid $color-grey-light;
	outline: none;
	border-radius: 0;
	box-shadow: none;
	appearance: none;
	padding: 0 15px;
	font-size: 14px;

	&--error {
		border: 1px solid #ff8383;
		box-shadow: inset 0 0 13px rgba(228, 106, 106, 0.75);
		font-style: italic;

		&::placeholder {
			color: #dc7f7f;
		}
	}
}

.feedback-form__textarea {
	width: 100%;
	font-size: 14px;
	height: 142px;
	border: 1px solid $color-grey-light;
	outline: none;
	border-radius: 0;
	box-shadow: none;
	appearance: none;
	resize: none;
	padding: 15px;
}
.feedback-form__submit {
	margin-top: 17px;
	font-size: 16px !important;
	font-weight: 700 !important;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #ffffff !important;
	background-color: $color-grey-lighter !important;
	padding: 11px 17px !important;
}
