@import "../vendor/slick";
// @import '../vendor/slick-theme';
.slider {
	position: relative;
}

.slider__wrap {
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;
}

.slider__item {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.6s ease;

	&.is-visible {
		opacity: 1;
	}

	&--1 {
		background: url("../img/slide-1.jpg") no-repeat center center;
	}

	&--2 {
		background: url("../img/slide-2.jpg") no-repeat center center;
	}
}

.slider__dots {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.slider__dots-item {
	display: inline-block;
	height: 10px;
	width: 10px;
	margin-right: 10px;
	border-radius: 50%;
	border: solid 1px black;
	cursor: pointer;
	background: #000;

	&.active {
		background: #fff;
	}
}

.slider__control {
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
}

.slider__next,
.slider__prev {
	display: block;
	width: 34px;
	height: 61px;
	margin-top: -15px;

	@include vertical-align;
}

.slider__next {
	background: url(../img/slider-right-arr.png) no-repeat;
	position: absolute;
	right: 36px;
	z-index: 2;

	@media (max-width: $screen-lg) {
		right: 10px;
	}
}

.slider__prev {
	background: url(../img/slider-left-arr.png) no-repeat;
	position: absolute;
	left: 10px;
	z-index: 2;
}
